<p-growl styleClass="message-growl" [baseZIndex]="50" [(value)]="msgs"></p-growl>

<div class="ui-widget-header datatable-filter">
  <!--<i class="fa fa-search datatable-filter-icon"></i>-->
  <input #gb type="text" pInputText size="50" placeholder="Search persons by name, email or phone">
</div>

<div *ngIf="loadPerson" class="text-center">
  <p-progressSpinner [style]="{width: '50px', height: '50px'}"
                     strokeWidth="8"
                     fill="#EEEEEE"
                     animationDuration="1s">
  </p-progressSpinner>
</div>

<p-dataTable #dt [value]="persons"
             exportFilename="persons"
             [globalFilter]="gb"
             [(selection)]="selectedPersons"
             selectionMode="multiple"
             [style]="{'background-color':'white'}"
             [rows]="30"
             [paginator]="true"
             [metaKeySelection]="false">
  <p-header>
    <div class="ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-file-o" iconPos="right" label="All Data" (click)="dt.exportCSV()" style="float:left"></button>
      <button type="button" pButton icon="fa fa-file" iconPos="right" label="Selection Only" (click)="dt.exportCSV({selectionOnly:true})" style="float:right"></button>
    </div>
  </p-header>
  <p-column field="name" header="Name" [style]="{'width':'14%', 'text-align':'center'}">
    <ng-template let-person="rowData"
                 pTemplate="body">
      <b ngbTooltip="Role - {{person.role}}">{{person.name}}</b>
    </ng-template>
  </p-column>
  <p-column field="email" header="Email" [style]="{'width':'29%', 'text-align':'center'}"></p-column>
  <p-column field="phone" header="Phone" [style]="{'width':'20%', 'text-align':'center'}"></p-column>
  <p-column field="customer_name" header="Customer" [style]="{'width':'19%', 'text-align':'center'}"></p-column>
  <p-column field="project_name" header="Project" [style]="{'width':'10%', 'text-align':'center'}"></p-column>
  <p-column header="" [style]="{'width':'8%', 'text-align':'center'}">
    <ng-template let-person="rowData"
                 pTemplate="body">
      <div class="btn-group">
        <button type="button"
                ngbTooltip="Edit Person"
                pButton
                (click)="selectPerson($event,person,edit_person)"
                icon="fa fa-edit">
        </button>
        <button *ngIf="person.project_id"
                type="button"
                ngbTooltip="Go to person"
                pButton
                (click)="goToPerson(person.customer_id, person.project_id)"
                icon="fa fa-toggle-right">
        </button>
      </div>
    </ng-template>
  </p-column>
</p-dataTable>

<p-overlayPanel #edit_person
                [showCloseIcon]="true"
                (onBeforeHide)="returnPersons()"
                [dismissable]="true">
  <app-aqis-tripple-field *ngIf="selectedPerson"
                          [selectedPerson]="selectedPerson"
                          (savePerson)="editPerson($event)">
  </app-aqis-tripple-field>
</p-overlayPanel>
