<p-dialog *ngIf="detailedBusiness"
          (onHide)="hideOwnBusinesses()"
          [(visible)]="showBusinessesList">
  <p-header>
    <small>Businesses belong to</small> {{detailedBusiness.name}}
  </p-header>
  <mat-list [@listAnimation]="own_businesses.length">
    <mat-list-item *ngFor="let bsn of own_businesses; let i = index">
      <h4 matLine>{{bsn.description}}</h4>
        <mat-icon>
          <span class="cursor-pointer" (click)="removeFromStBusiness(bsn, i)">
            <img width="70%" src="../../../assets/showcase/images/remove1206.png">
          </span>
        </mat-icon>
    </mat-list-item>
  </mat-list>
</p-dialog>

<section class="load-standardized-businesses p-2">
  <label for="load_businesses">Load Businesses</label>
  <input type="file"
         id="load_businesses"
         name="upload_file"
         class="form-control"
         (change)="fileChange($event)"
         [(ngModel)]="upload_file"
         placeholder="Upload file"
         accept=".csv,.xlsx,.ods">
</section>

<app-alert-closeable *ngIf="alert "
                     on-alertFalse="alert = false"
                     bind-type="alertType"
                     bind-message="alertMessage">
</app-alert-closeable>

<div class="ui-g">
  <div class="ui-g-6">
    <section #standardizedBusinessesList class="standardized-businesses">
      <div class="mt-4 mb-2 pr-2 pt-2 pl-2 border-bottom standardized-businesses-header">
        <div class="ui-g">
          <div class="ui-g-12">
            <h4>Standardized Businesses</h4>
          </div>
          <div class="ui-g-12">
            <input class="form-control" type="text"
                   (input)="searchStBusinesses($event.target.value)"
                   placeholder="Search...">
          </div>
        </div>
      </div>

      <div class="ui-g standardized-businesses-item-header">
        <div class="ui-g-2">
          <span><label>Code</label></span>
        </div>
        <div class="ui-g-8">
          <span><label>Name</label></span>
        </div>
        <div class="ui-g-2">
          <span class="float-right"><label>IAF</label></span>
        </div>
      </div>

      <div *ngIf="!searched_st_businesses" class="ui-g">
        <div class="ui-g-12 text-center">
          <p-progressSpinner></p-progressSpinner>
        </div>
      </div>

      <cdk-virtual-scroll-viewport *ngIf="searched_st_businesses"
                                   [@listAnimation]="searched_st_businesses.length"
                                   itemSize="10" class="standardized-businesses-list">
        <div *cdkVirtualFor="let business of searched_st_businesses"
             appHighlight="standardized-business-shadowed"
             class="standardized-businesses-item mb-2">
          <div id="st-bsn-{{business.id}}" class="ui-g">
            <div class="ui-g-2">
              <span>{{business.code}}</span>
            </div>
            <div class="ui-g-8">
              <span>
                {{business.name}}
                <i class="fa fa-angle-double-right float-right cursor-pointer"
                   (click)="openBusinesses(business)"
                   title="View Businesses"
                ></i>
              </span>
            </div>
            <div class="ui-g-2">
              <span class="float-right">{{business.iaf}}</span>
            </div>
            <div class="ui-g-12">
              <p-chips [(ngModel)]="business.stringify_keys"
                       (onAdd)="addKey($event, business)"
                       (onRemove)="removeKey($event, business)"
                       placeholder="Add Key to Business"
                       [allowDuplicate]="false">
              </p-chips>
            </div>
            <div class="ui-g-4">
              <button *ngIf="business.stringify_keys.length > 0"
                      mat-button
                      [color]="'keyword-assign'"
                      (click)="assignByKeyword(business)">
                Assign by keywords
              </button>
            </div>
            <div *ngIf="businesses_selected.length > 0" class="ui-g-offset-4 ui-g-4">
              <button mat-button
                      class="float-right"
                      [color]="'success'"
                      (click)="assignBusinesses(business)">Assign Selected</button>
            </div>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
    </section>
  </div>
  <div class="ui-g-6">
    <section class="businesses">

      <div class="mt-4 mb-2 pr-2 pt-2 pl-2 border-bottom standardized-businesses-header">
        <div class="ui-g">
          <div class="ui-g-12">
            <h4>Businesses</h4>
          </div>
          <div class="ui-g-12">
            <input class="form-control" type="text"
                   [(ngModel)]="searchBusinessClause"
                   (input)="searchBusinesses($event.target.value)"
                   placeholder="Search...">
          </div>
        </div>
      </div>

      <div class="ui-g standardized-businesses-item-header">
        <div class="ui-g-8">
          <span><label>Name</label></span>
        </div>
      </div>

      <div *ngIf="!searched_businesses" class="ui-g">
        <div class="ui-g-12 text-center">
          <p-progressSpinner></p-progressSpinner>
        </div>
      </div>

      <cdk-virtual-scroll-viewport *ngIf="searched_businesses"
                                   itemSize="10" class="standardized-businesses-list">
        <div *cdkVirtualFor="let business of searched_businesses"
             appHighlight="standardized-business-shadowed"
             class="standardized-businesses-item mb-2">
          <div class="ui-g">
            <div class="ui-g-11">{{business.description}}</div>
            <div class="ui-g-1">
              <mat-checkbox [checked]="business.selected"
                            (change)="checkBusiness($event, business)"
                            [disableRipple]="false">
              </mat-checkbox>
            </div>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
    </section>
  </div>
</div>

