<form (ngSubmit)="onSignInSubmit()" #f="ngForm" >


  <div class="ui-g">

    <div class="input-field ui-g-12">
      <label for="login">Email</label>
      <input id="login"
             class="form-control"
             type="email"
             required
             name='login'
             [(ngModel)]="signInUser.login">
    </div>


    <div class="input-field ui-g-12">
      <label for="password">Password</label>
      <input id="password"
             class="form-control"
             type="password"
             required
             name='password'
             [(ngModel)]="signInUser.password">
    </div>

    <div class="ui-g-12">
      <button type="submit"
              class="btn btn-info cursor-pointer"
              [disabled]="!(f.valid)"
              [ngClass]="{'disabled': !(f.valid)}"
      >
        Login </button>
    </div>


  </div>

</form>
