.tenant-prop-name {
  background-color: rgba(120, 204, 232, 0.3);
  border-bottom: #99ccff solid 0.2px;
}

.tenant-prop {
  background-color: rgba(120, 204, 232, 0.1);
  border-bottom: #99ccff solid 0.1px;
  border-right: #99ccff solid 0.1px;
}

.tenant-prop-city {
  background-color: rgba(127, 244, 170, 0.3);
}

.tenant-prop-address {
  background-color: rgba(127, 244, 170, 0.3);
  border-bottom: #99ed45 solid 0.1px;
}
