<p-growl styleClass="message-growl" [baseZIndex]="50" [(value)]="msgs"></p-growl>

<p-overlayPanel #add_tenant_admin [showCloseIcon]="true" [dismissable]="true">
  <app-aqis-add-user-to-tenant (submitForm)="createTenantAdmin($event)"></app-aqis-add-user-to-tenant>
</p-overlayPanel>

<p-dialog header="Edit Tenant" [(visible)]="displayEdit" (onHide)="hideEditDialog()" [style]="{'width':'60%'}" [maximizable]="true">
  <app-aqis-edit-tenant #edit_tenant *ngIf="current_tenant" [tenant]="current_tenant" (saveTenant)="editTenant($event)"></app-aqis-edit-tenant>
</p-dialog>

<section *ngIf="tenants" #tenantsList class="tenants-list background-white">

  <p-overlayPanel #new_tenant [showCloseIcon]="true" [dismissable]="true">
    <app-aqis-new-business label="New Tenant"
                           input_name="name"
                           (submitForm)="createTenant($event)">
    </app-aqis-new-business>
  </p-overlayPanel>

  <section class="create-tenant" style="background-color: lightcyan">
    <div class="ui-g">
      <div class="ui-g-offset-11 ui-g-1">
        <button class="btn btn-info float-right cursor-pointer"
                (click)="new_tenant.show($event)"
                ngbTooltip="Create new Tenant">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
  </section>

  <p-table [value]="tenants"
           (onEditComplete)="editTenant($event)">
    <ng-template pTemplate="header" let-rowData>
      <tr>
        <td class="tenant-cell text-center">Name</td>
        <td class="tenant-cell text-center">Tenant-Admin</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-tenant>
      <tr>
        <td class="tenant-cell">
          <div id="tenantRow-{{tenant.id}}" class="ui-g tenant-row">
            <div class="ui-g-11">
              <div class="ui-g">
                <div class="ui-g-12 tenant-prop-name">
                  {{tenant.name}}
                </div>
                <div class="ui-g-12 tenant-prop">
                  <b>Email:</b>
                  {{tenant.email || '-'}}
                </div>
                <div class="ui-g-6 tenant-prop">
                  <b>UID:</b>
                  {{tenant.uid || '-'}}
                </div>
                <div class="ui-g-6 tenant-prop">
                  <b>Phone:</b>
                  {{tenant.phone || '-'}}
                </div>
                <div class="ui-g-4 tenant-prop-city">
                  <b>Zip:</b>
                  {{tenant.zip || '-'}}
                </div>
                <div class="ui-g-8 tenant-prop-city">
                  <b>City:</b>
                  {{tenant.city || '-'}}
                </div>
                <div class="ui-g-12 tenant-prop-address">
                  <b>Address:</b>
                  {{tenant.address || '-'}}
                </div>
              </div>
            </div>
            <div class="ui-g-1">
              <div class="ui-g">
                <div class="ui-g-12">
                  <button type="button" ngbTooltip="Edit Tenant" class="btn btn-sm btn-info" (click)="showEditDialog(tenant)">
                    <i class="fa fa-edit"></i>
                  </button>
                </div>
                <div class="ui-g-12">
                  <button type="button" ngbTooltip="Go to invoices" class="btn btn-sm btn-info" [routerLink]="['/invoices_list/', tenant.id]">
                    <i class="fa fa-list"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td class="tenant-cell">
          <div id="tenant-admin-{{tenant.id}}" class="tenant-row">
            <ul class="list-group" *ngFor="let user of tenant.tenant_admins; let i = index" [attr.data-index]="i">
              <li class="list-group-item">
                <i class="fa fa-remove float-right cursor-pointer"
                   (click)="deleteTenantAdmin(tenant, user.id, i)">
                  <small>Remove admin's rights</small>
                </i>
                <div class="ui-g">
                  <div *ngIf="user.name" class="ui-g-12"><b>{{user.name}}</b></div>
                  <div class="ui-g-12"><b>{{user.email}}</b></div>
                </div>
              </li>
            </ul>
            <mat-expansion-panel class="tenant-assistants-list">
              <mat-expansion-panel-header>
                Tenant users
              </mat-expansion-panel-header>

              <mat-list-item>
                <mat-list-item class="assistant-item"
                               *ngFor="let user of tenant.users">
                  <div id="user-{{user.id}}" class="ui-g">
                    <div class="ui-g-10">
                      <h6>{{user.name || user.email}}</h6>
                    </div>
                    <div class="ui-g-2">
                      <p-checkbox class="float-right"
                                  [(ngModel)]="user.edit_basic_data"
                                  ngbTooltip="{{user.edit_basic_data ? 'Disallow basic data change' : 'Allow basic data change'}}"
                                  (onChange)="allowEditData(user, $event)"
                                  binary="true"></p-checkbox>
                    </div>
                    <div class="ui-g-12">
                      <small class="m-1 p-1"><b>Roles</b></small>
                      <small *ngIf="user.admin" class="user-role p-1 m-1">Admin</small>
                      <small *ngIf="user.agent" class="user-role p-1 m-1">Agent</small>
                      <small *ngIf="user.assistant" class="user-role p-1 m-1">Assistant</small>
                    </div>
                  </div>
                  <mat-divider></mat-divider>
                </mat-list-item>
              </mat-list-item>
            </mat-expansion-panel>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</section>
