<div class="navbar-fixed">

  <nav  role="navigation">

    <div class="nav-wrapper blue ">
      <a [routerLink]="['']" id="logo-container" class="brand-logo">
        <img src="../../assets/showcase/images/aQis_Logo_L01.png" class="logo-keil">
      </a>

      <ul class="right hide-on-med-and-down">
        <li *ngIf="(authService.userSignedIn$ | async) && (authService.userSuperAdmin$ | async)" class="dropdown" dropdown >
          <a dropdownToggle role="button">Steps Properties<i class="fa fa-angle-down ml-1"></i></a>
          <div *dropdownMenu class="dropdown-menu">
            <a class="dropdown-item" [routerLink]="['/steps']">Steps</a>
            <a class="dropdown-item" [routerLink]="['/questions']">Questions</a>
            <a class="dropdown-item" [routerLink]="['/main_email_templates']">Email Templates</a>
          </div>
        </li>
        <li *ngIf="(authService.userSignedIn$ | async) && (authService.userSuperAdmin$ | async)">
          <a [routerLink]="['/businesses']">Businesses</a>
        </li>
        <li *ngIf="(authService.userSignedIn$ | async) && (authService.userSuperAdmin$ | async)">
          <a [routerLink]="['/tenants']">Tenants</a>
        </li>
        <li *ngIf="(authService.userSignedIn$ | async) && (authService.userSuperAdmin$ | async)">
          <a [routerLink]="['/customers']">Customers</a>
        </li>

        <li *ngIf="(authService.userSignedIn$ | async) && (authService.userAdmin$ | async)" class="dropdown" dropdown >
          <a dropdownToggle role="button">Admin<i class="fa fa-angle-down ml-1"></i></a>
          <div *dropdownMenu class="dropdown-menu">
            <a class="dropdown-item" [routerLink]="['/projects']">Projects</a>
            <a class="dropdown-item" [routerLink]="['/tenant_steps']">Tenant-Steps</a>
            <a class="dropdown-item" [routerLink]="['/questions']">Tenant-Questions</a>
            <a class="dropdown-item" [routerLink]="['/tenant_email_templates']">Tenant-Email-Templates</a>
            <a class="dropdown-item" [routerLink]="['/businesses']">Businesses</a>
            <a class="dropdown-item" [routerLink]="['/tenants/1']">Users</a>
            <a class="dropdown-item" [routerLink]="['/users']">Project Assignment</a>
            <a class="dropdown-item" [routerLink]="['/statuses']">States</a>
            <a class="dropdown-item" [routerLink]="['/tenants/dsvgo_list']">DSGVO</a>
          </div>
        </li>

        <li *ngIf="(authService.userSignedIn$ | async) && (authService.userAdmin$ | async)" class="dropdown" dropdown >
          <a dropdownToggle role="button">Communications<i class="fa fa-angle-down ml-1"></i></a>
          <div *dropdownMenu class="dropdown-menu">
            <a class="dropdown-item" [routerLink]="['/pre_customers']">First Contacts</a>
          </div>
        </li>

        <li *ngIf="(authService.userSignedIn$ | async) && projects && projects.length > 0" class="dropdown" dropdown >
          <a dropdownToggle role="button">Projects<i class="fa fa-angle-down ml-1"></i></a>
          <div *dropdownMenu class="dropdown-menu">
            <span *ngFor="let project of projects"
               class="dropdown-item cursor-pointer"
               (click)="setCurrentProject(project)">
              {{project.name}}
            </span>
          </div>
        </li>

        <li *ngIf="!(authService.userSignedIn$ | async)"> <a (click)="presentAuthDialog()" >LOGIN</a></li>
        <li *ngIf="!(authService.userSignedIn$ | async)"> <a (click)="presentAuthDialog('register')">REGISTER</a></li>

        <li *ngIf="(authService.userSignedIn$ | async)"><a [routerLink]="['/profile']">PROFILE</a></li>
        <li *ngIf="(authService.userSignedIn$ | async)"><a (click)="logOut()">LOGOUT</a></li>

      </ul>

    </div>
  </nav>

</div>

<div class="ui-g">
  <div class="ui-g-8">
    <img src="../../assets/showcase/images/Logo-Keil.png" class="logo-keil">
  </div>
  <div class="ui-g-4">
    <a class="cursor-pointer" (click)="googleAuthenticate()">Authenticate with Google</a>
  </div>
</div>

<app-auth-dialog #authDialog ></app-auth-dialog>
