<div class="navbar-fixed">

  <nav  role="navigation">

    <div class="nav-wrapper blue ">
      <a [routerLink]="['']" id="logo-container" class="brand-logo">
        <img src="../../assets/showcase/images/aQis_Logo_L01.png" class="logo-keil">
      </a>

      <ul class="right hide-on-med-and-down">
        <li *ngIf="(authService.userSignedIn$ | async) && (authService.userSuperAdmin$ | async)" class="dropdown" dropdown >
          <a dropdownToggle role="button">Steps Properties<i class="fa fa-angle-down ml-1"></i></a>
          <div *dropdownMenu class="dropdown-menu">
            <a class="dropdown-item" [routerLink]="['/steps']">Steps</a>
            <a class="dropdown-item" [routerLink]="['/questions']">Questions</a>
            <a class="dropdown-item" [routerLink]="['/main_email_templates']">Email Templates</a>
          </div>
        </li>
        <li *ngIf="(authService.userSignedIn$ | async) && (authService.userSuperAdmin$ | async)">
          <a [routerLink]="['/businesses']">Businesses</a>
        </li>

        <li *ngIf="!(authService.userSignedIn$ | async)"> <a (click)="presentAuthDialog()" >LOGIN</a></li>
        <li *ngIf="!(authService.userSignedIn$ | async)"> <a (click)="presentAuthDialog('register')">REGISTER</a></li>

        <li *ngIf="(authService.userSignedIn$ | async)"><a [routerLink]="['/profile']">PROFILE</a></li>
        <li *ngIf="(authService.userSignedIn$ | async)"><a (click)="logOut()">LOGOUT</a></li>

      </ul>

    </div>
  </nav>

</div>

<div class="ui-g">
  <div class="ui-g-8">
    <img src="../../assets/showcase/images/Logo-Keil.png" class="logo-keil">
  </div>
</div>

<app-auth-dialog #authDialog ></app-auth-dialog>
