<!--<div class="navbar-fixed">-->

  <nav  class="navbar navbar-expand-lg navbar-light bg-primary toolbar-nav">

    <a [routerLink]="['']" id="logo-container" class="brand-logo navbar-brand">
      <img src="../../assets/showcase/images/aQis_Logo_L01.png" class="logo-keil">
    </a>

    <ul class="navbar-nav ml-auto">
      <li *ngIf="(authService.userSignedIn$ | async) && (authService.userSuperAdmin$ | async)" class="nav-item dropdown toolbar-dropdown-item">
        <a class="nav-link dropdown-toggle toolbar-dropdown" href="#" id="navbarDropdownMenuSteps" data-toggle="dropdown">
          <b>Steps Properties</b>
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['/steps']">Steps</a>
          <a class="dropdown-item" [routerLink]="['/questions']">Questions</a>
          <a class="dropdown-item" [routerLink]="['/main_email_templates']">Email Templates</a>
        </div>
      </li>
      <li *ngIf="(authService.userSignedIn$ | async) && (authService.userSuperAdmin$ | async)" class="toolbar-item toolbar-dropdown-item">
        <a class="nav-item m-2 profile-link cursor-pointer" [routerLink]="['/businesses']"><b>Businesses</b></a>
      </li>
      <li *ngIf="(authService.userSignedIn$ | async) && (authService.userSuperAdmin$ | async)" class="toolbar-item toolbar-dropdown-item">
        <a class="nav-item m-2 profile-link cursor-pointer" [routerLink]="['/tenants']"><b>Tenants</b></a>
      </li>
      <li *ngIf="(authService.userSignedIn$ | async) && (authService.userSuperAdmin$ | async)" class="toolbar-item toolbar-dropdown-item">
        <a class="nav-item m-2 profile-link cursor-pointer" [routerLink]="['/customers']"><b>Customers</b></a>
      </li>
      <li *ngIf="(authService.userSignedIn$ | async) && (authService.userSuperAdmin$ | async)" class="toolbar-item toolbar-dropdown-item">
        <a class="nav-item m-2 profile-link cursor-pointer" [routerLink]="['/info_links']"><b>Info-Links</b></a>
      </li>

      <li *ngIf="(authService.userSignedIn$ | async) && (authService.userAdmin$ | async)" class="nav-item dropdown toolbar-dropdown-item">
        <a class="nav-link dropdown-toggle toolbar-dropdown" href="#" id="navbarDropdownMenuAdmin" data-toggle="dropdown">
          <b>Admin</b>
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['/projects']">Projects</a>
          <a class="dropdown-item" [routerLink]="['/tenant_steps']">Tenant-Steps</a>
          <a class="dropdown-item" [routerLink]="['/questions']">Tenant-Questions</a>
          <a class="dropdown-item" [routerLink]="['/tenant_email_templates']">Tenant-Email-Templates</a>
          <a class="dropdown-item" [routerLink]="['/businesses']">Businesses</a>
          <a class="dropdown-item" [routerLink]="['/tenants/1']">Users</a>
          <a class="dropdown-item" [routerLink]="['/users']">Project Assignment</a>
          <a class="dropdown-item" [routerLink]="['/statuses']">States</a>
          <a class="dropdown-item" [routerLink]="['/tenants/dsvgo_list']">DSGVO</a>
        </div>
      </li>

      <li *ngIf="(authService.userSignedIn$ | async) && ((authService.userAdmin$ | async) || (authService.userSuperAdmin$ | async))" class="nav-item dropdown toolbar-dropdown-item">
        <a class="nav-link dropdown-toggle toolbar-dropdown" href="#" id="navbarDropdownMenuCommunications" data-toggle="dropdown">
          <b>Communications</b>
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['/pre_customers']">First Contacts</a>
          <a *ngIf="(authService.userAdmin$ | async)" class="dropdown-item" [routerLink]="['/to_send_emails']">Received Emails</a>
        </div>
      </li>

      <li *ngIf="(authService.userSignedIn$ | async) && projects && projects.length > 0" class="nav-item dropdown toolbar-dropdown-item">
        <a class="nav-link dropdown-toggle toolbar-dropdown" href="#" id="navbarDropdownMenuProjects" data-toggle="dropdown">
          <b>Projects</b>
        </a>
        <div class="dropdown-menu">
            <span *ngFor="let project of projects"
                  class="dropdown-item cursor-pointer"
                  (click)="setCurrentProject(project)">
              {{project.name}}
            </span>
        </div>
      </li>

      <li *ngIf="(authService.userSignedIn$ | async) && (authService.userAdmin$ | async)" class="nav-item dropdown toolbar-dropdown-item">
        <a class="nav-link dropdown-toggle toolbar-dropdown" href="#" id="navbarDropdownMenuReports" data-toggle="dropdown">
          <b>Reports</b>
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['/reports_project_progress']">Projects Progress</a>
        </div>
      </li>

      <li class="toolbar-item" *ngIf="!(authService.userSignedIn$ | async)">
        <a (click)="presentAuthDialog()" class="nav-item m2 cursor-pointer profile-link" >
          <b>LOGIN</b>
        </a>
      </li>

      <li class="toolbar-item toolbar-dropdown-item" *ngIf="(authService.userSignedIn$ | async)">
        <a [routerLink]="['/profile']" class="nav-item m-2 profile-link cursor-pointer">
          <b>PROFILE</b>
        </a>
      </li>
      <li class="toolbar-item toolbar-dropdown-item" *ngIf="(authService.userSignedIn$ | async)">
        <a (click)="logOut()" class="nav-item m-2 cursor-pointer profile-link">
          <b>LOGOUT</b>
        </a>
      </li>

    </ul>
  </nav>

<!--</div>-->

<app-alert-closeable *ngIf="alert"
                     on-alertFalse="alert = false"
                     bind-type="alertType"
                     bind-message="alertMessage">
</app-alert-closeable>

<div class="ui-g logo-row">
  <div class="ui-g-8">
    <img src="../../assets/showcase/images/Logo-Keil.png" class="logo-keil">
  </div>
  <div *ngIf="current_project" class="ui-g-4">
    <h6 class="float-right"><i>Current Project - </i><a [routerLink]="['/customers']">{{current_project.name}}</a></h6>
  </div>
</div>

<app-auth-dialog #authDialog (getUserProps)="getUserProps()" ></app-auth-dialog>
