.list-data-header {
  border-bottom: #3f51b5 solid 0.4px;
}

.list-data-item {
  border-bottom: #99ccff solid 0.2px;
}

.list-data-row:hover {
  background-color: rgba(212, 225, 244, 0.3);
}

.step-name {
  color: slateblue;
}

.step-report-row {
  background-image: linear-gradient(rgb(222, 236, 242), white);
}

.company-name {
  color: slategray;
}

.has-error {
  border-bottom-color: red;
}

.error-message {
  color: red;
  text-align: center;
}

.daily-report-filters {
  background-color: rgba(212, 225, 244, 0.3);
  border: #babec4 solid 0.1px;
}
