<p-growl styleClass="message-growl" [baseZIndex]="50" [(value)]="msgs"></p-growl>

<p-dialog header="Edit Report Data"
          [(visible)]="displayDialog"
          [transitionOptions]="'500ms'"
          [maximizable]="true"
          (onHide)="closeDialog()">
  <div *ngIf="current_report">
    <app-aqis-daily-report-edit #dailyReport
                                (submitValues)="editReport($event)"
                                (onDelete)="deleteReport()"
    >
    </app-aqis-daily-report-edit>
  </div>
</p-dialog>

<section class="daily-report-filters">
  <app-aqis-daily-reports-filters [dropdownItems]="filterProjects"
                                  dropdownItemName="project_name"
                                  [showDropdown]="true"
                                  [items]="original_steps"
                                  (onSearchItem)="search($event)">
  </app-aqis-daily-reports-filters>
</section>

<div class="ui-g">
  <div class="ui-g-12 text-center">
    <p-progressSpinner *ngIf="!steps"></p-progressSpinner>
  </div>
</div>

<section *ngIf="steps" style="background-color: white">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let step of steps"
                         class="step-report-row"
                         (opened)="openPanel(step)"
                         (closed)="closePanel()">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h5 ngbTooltip="Step" class="step-name mr-2">{{step.name}}</h5>
        </mat-panel-title>
        <mat-panel-description>
          <span ngbTooltip="Project" class="company-name">{{step.project_name}}</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="ui-g list-data-header text-center">
        <div *ngIf="original_reports" class="ui-g-12 report-filter mt-2">
          <app-aqis-step-report-filter #reportFilter
                                       [reports]="original_reports"
                                       (onSelectDates)="searchReports($event)">
          </app-aqis-step-report-filter>
        </div>
        <div class="ui-g-9">Description</div>
        <div class="ui-g-2">Date</div>
        <div class="ui-g-1">Hours</div>
      </div>
      <ul class="list-group mt-1" [@listAnimation]="step.assistant_daily_reports.length">
        <li class="list-group-item list-data-row cursor-pointer"
            *ngFor="let report of step.assistant_daily_reports"
            (click)="showEdit(report)">
          <div class="ui-g list-data-item">
            <div class="ui-g-9">{{report.description}}</div>
            <div class="ui-g-2 text-center">{{report.report_date | date}}</div>
            <div class="ui-g-1 text-center">{{report.hours}}</div>
          </div>
        </li>
      </ul>

      <div class="ui-g">
        <div class="ui-g-12">Add new Report Data</div>
        <div class="ui-g-5">
          <label class="sr-only" for="newDescription">New Dscription</label>
          <textarea class="form-control"
                    id="newDescription"
                    [ngClass]="{'has-error' : descriptionHasError}"
                    (ngModelChange)="descriptionChanged($event)"
                    (blur)="blurDescription()"
                    pInputTextarea
                    [(ngModel)]="newDescription"
                    placeholder="Description">
          </textarea>
          <span *ngIf="descriptionHasError"
                class="error-message">
            <small>Description required</small>
          </span>

        </div>
        <div class="ui-g-4">
          <p-calendar [(ngModel)]="initDate" [showIcon]="true" dateFormat="dd mm yy"></p-calendar>
          <br *ngIf="!initDate">
          <span *ngIf="!initDate" class="error-message">
            <small>Date required</small>
          </span>
        </div>
        <div class="ui-g-2">
          <label class="sr-only" for="newHours">New Hours</label>
          <input class="form-control"
                 id="newHours"
                 [ngClass]="{'has-error' : hoursHasErrors}"
                 [(ngModel)]="newHours"
                 (ngModelChange)="hoursChanged($event)"
                 (blur)="blurHours()"
                 placeholder="Hours">
          <span *ngIf="hoursHasErrors" class="error-message">
            <small>Must be number between 0 and 100</small>
          </span>
        </div>
        <div class="ui-g-1">
          <button mat-raised-button
                  ngbTooltip="Create Report"
                  [disabled]="!newDescription || !initDate || !newHours || descriptionHasError || hoursHasErrors"
                  (click)="createReport(step)">
            <i class="fa fa-check"></i>
          </button>
        </div>
      </div>
      <mat-divider></mat-divider>
    </mat-expansion-panel>
  </mat-accordion>
</section>
