<app-alert-closeable on-alertFalse="alert = false"
                     bind-type="alertType"
                     bind-message="alertMessage"
                     *ngIf="alert">
</app-alert-closeable>

<p-table #dt *ngIf="events"
         [columns]="cols"
         [value]="events"
         [exportFilename]="events"
         [(selection)]="selectedEvents"
         selectionMode="multiple"
         [metaKeySelection]="false">
  <ng-template pTemplate="caption">
    <div class="ui-helper-clearfix">
      <button type="button" pButton
              iconPos="left"
              label="All Data"
              (click)="dt.exportCSV()"
              style="float:left">
        <i class="fa fa-file-o float-left"></i>
      </button>
      <button type="button" pButton
              iconPos="left"
              label="Selection Only"
              (click)="dt.exportCSV({selectionOnly:true})"
              style="float:right">
        <i class="fa fa-file float-left"></i>
      </button>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th class="text-center" style="width: 13%;">UID</th>
      <th class="text-center" style="width: 20%;">Company</th>
      <th class="text-center" style="width: 12%;">Date</th>
      <th class="text-center" style="width: 6%;">Time</th>
      <th class="text-center" style="width: 7%;">Duration</th>
      <th class="text-center" style="width: 7%;">Status</th>
      <th class="text-center" style="width: 35%;">Description</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData">
      <td *ngFor="let col of columns">{{rowData[col.field]}}</td>
    </tr>
  </ng-template>
</p-table>
