.panel-heading {
  background-image: linear-gradient(#e0dc62, #e0dfc5);
}

.city-address {
  background-image: linear-gradient(#cedfff, #e6e9f7);
  border-bottom: #99ccff solid .3px;
}

.billing-item {
  background-image: linear-gradient(#94c46d, #e2f2d5);
  border-bottom: #99ccff solid .3px;
}
