<p-dialog header="Godfather I" [(visible)]="displayLoginForm" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70"
          [maximizable]="true" [baseZIndex]="10000" [closable]="true">
  <div class="ui-g">

    <div class="ui-g-12">
      <h3 class="grey-text text-darken-2">{{authMode}}</h3>

      <app-login-form (onFormResult)="onLoginFormResult($event)"
                      *ngIf="isLoginMode()">

      </app-login-form>
    </div>

  </div>
</p-dialog>
