<p-dialog [(visible)]="displayWarningAuthFailed"
          [header]="'Failed Authenication'"
          [modal]="true"
          [responsive]="true"
          [style]="{width: '200px', minWidth: '150px'}"
          [baseZIndex]="15000"
          [closable]="true"
          [maximizable]="true">
  <div class="ui-g alert-danger">

    <div class="ui-g-12">
      <p class="text-center">The authentication failed. Email address or password is invalid. Try again</p>
    </div>

  </div>
</p-dialog>

<p-dialog [(visible)]="displayLoginForm"
          [modal]="true"
          [responsive]="true"
          [style]="{width: '400px', minWidth: '300px'}"
          [baseZIndex]="10000"
          [maximizable]="true"
          [closable]="true">
  <div class="ui-g">

    <div class="ui-g-12">
      <h3 class="grey-text text-darken-2">{{authMode}}</h3>

      <app-login-form (onFormResult)="onLoginFormResult($event)"
                      *ngIf="isLoginMode()">

      </app-login-form>
    </div>

  </div>
</p-dialog>
