.event-processed {
  background-color: #f5ec42 !important;
}

.event-open {
  background-color: #69fa5f !important;
}

.event-delivered {
  background-color: #88c5e3 !important;
}

.event-dropped {
  background-color: #fa885f !important;
}
