<app-alert-closeable on-alertFalse="alert = false"
                     bind-type="alertType"
                     bind-message="alertMessage"
                     *ngIf="alert">
</app-alert-closeable>

<p-dialog header="Warning"
          [(visible)]="warning"
          modal="modal"
          [style]="{'width':'30%'}"
          [responsive]="true">
  <p class="text-center warning-text">{{warning_text}}</p>
</p-dialog>

<div *ngIf="!projects" class="ui-g">
  <div class="ui-g-12 text-center">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<section *ngIf="projects" #projectDetails>
  <p-dataView #dv [value]="projects" [paginator]="true" [rows]="20" [layout]="'grid'">
    <p-header>
      List of Projects
      <form novalidate name="newProject">
        <div *ngIf="admin" class="ui-g">
          <div class="ui-g-3">
            <input type="text"
                   name="newName"
                   #new_project_name="ngModel"
                   class="form-control"
                   [(ngModel)]="new_name"
                   (blur)="markAsPristine(new_project_name)"
                   required minlength="4"
                   maxlength="30"
                   placeholder="Name">
            <aside *ngIf="new_project_name.invalid && (new_project_name.dirty || new_project_name.touched)"
                 class="alert alert-danger">
              <small *ngIf="new_project_name.errors.required">
                <span>Name is required.</span>
              </small>
              <small *ngIf="new_project_name.errors.minlength">
                <span>Name must be at least 4 characters long.</span>
              </small>
              <small *ngIf="new_project_name.errors.maxlength">
                <span>Name must be maximum 30 characters.</span>
              </small>
            </aside>
          </div>
          <div class="ui-g-3">
            <input class="form-control"
                   name="newEmail" type="text"
                   [(ngModel)]="new_email"
                   pattern="^[\w+\-.]+@[a-z\d\-.]+\.[a-z]+$"
                   #new_project_email=ngModel
                   (blur)="markAsPristine(new_project_email)"
                   required
                   placeholder="Email">
            <aside *ngIf="new_project_email.invalid && (new_project_email.dirty || new_project_email.touched)"
                 class="alert alert-danger">
              <small *ngIf="new_project_email.errors.required">
                <span>Email is required.</span>
              </small>
              <small *ngIf="new_project_email.errors.pattern">
                <span>Must be as email.</span>
              </small>
            </aside>
          </div>
          <div class="ui-g-3">
            <button pButton
                    type="button"
                    label="Create New Project"
                    icon="fa fa-check"
                    iconPos="right"
                    (click)="addProject(new_name, new_email)"
                    [disabled]="new_project_name.invalid || new_project_email.invalid"
                    class="ui-button-success">
            </button>
          </div>
        </div>
      </form>
    </p-header>
    <ng-template let-project pTemplate="gridItem">
      <div style="padding:3px" class="ui-g-12 ui-md-3">
        <p-panel [header]="project.name"
                 [style]="{'text-align':'center'}">
          <img src="../../../assets/showcase/images/project-icon.png">
          <div class="project-detail">
            <b>{{project.name}}</b>
          </div>

          <br>

          <div class="btn-group">
            <button pButton type="button"
                    pTooltip="Project's steps"
                    (click)="goToSteps(project)"
                    icon="fa fa-list-ol"></button>
            <button *ngIf="admin"
                    pButton type="button"
                    pTooltip="Project's questions"
                    (click)="goToQuestions(project)"
                    icon="fa fa-question"></button>
            <button *ngIf="admin"
                    pButton type="button"
                    pTooltip="Project's email-templates"
                    (click)="goToEmailTemplates(project)"
                    icon="fa fa-envelope-open"></button>
          </div>

          <hr class="ui-widget-content" style="border-top:0">
          <div *ngIf="admin">
            <i class="fa fa-search cursor-pointer"
               pTooltip="Project's details"
               (click)="selectProject(project)"></i> |
            <i class="fa fa-close cursor-pointer"
               pTooltip="Remove Project"
               (click)="deleteProject(project)">
            </i>
          </div>
        </p-panel>
      </div>
    </ng-template>
  </p-dataView>

  <p-dialog *ngIf="admin"
            header="Project Details"
            [(visible)]="displayDialog"
            (onHide)="hideDetails()"
            [responsive]="true"
            showEffect="fade"
            [style]="{'max-width': '800px'}"
            [modal]="true"
            [maximizable]="true"
            (onAfterHide)="onDialogHide()">
    <div class="ui-grid ui-grid-responsive ui-grid-pad" *ngIf="selectedProject" style="font-size:16px;text-align:center;padding:20px">
      <div class="ui-g">
        <div class="ui-g-3">
          <div class="ui-g">
            <div class="ui-g-12">
              <img class="pull-left" src="../../../assets/showcase/images/project-icon.png">
            </div>
            <div class="ui-g-12" id="active_{{selectedProject.id}}">
              <p class="pull-left mb-0">
                <b>Active - </b>
                <p-checkbox styleClass="mt-0"
                            [(ngModel)]="selectedProject.active"
                            (onChange)="editProject(selectedProject, 'active')"
                            binary="true">
                </p-checkbox>
              </p>

            </div>
          </div>
        </div>
        <div class="ui-g-9">
          <div class="ui-g">
            <div class="ui-g-12">
              <div class="ui-inputgroup pull-right">
                <input type="text"
                       id="name_{{selectedProject.id}}"
                       [(ngModel)]="selectedProject.name"
                       #selected_project_name=ngModel
                       minlength="4"
                       maxlength="30"
                       pInputText
                       required
                       placeholder="Project's name">
                <button pButton
                        type="button"
                        icon="fa fa-check"
                        [disabled]="selected_project_name.invalid"
                        (click)="editProject(selectedProject, 'name')">
                </button>
                <button pButton
                        type="button"
                        icon="fa fa-close"
                        (click)="escEditProject()">
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="selected_project_name.invalid && (selected_project_name.dirty || selected_project_name.touched)"
               class="ui-g">
            <div class="ui-g-offset-6 ui-g-6 alert alert-danger">
              <small *ngIf="selected_project_name.errors.required">
                <span>Name is required.</span>
              </small>
              <small *ngIf="selected_project_name.errors.minlength">
                <span>Name must be at least 4 characters long.</span>
              </small>
              <small *ngIf="selected_project_name.errors.maxlength">
                <span>Name must be maximum 30 characters.</span>
              </small>
            </div>
          </div>
          <br>
          <div class="ui-g alert-secondary mb-1">
            <div class="ui-g-12">
              <div class="ui-inputgroup pull-right">
                <label><b>Email &nbsp;</b></label>
                <input type="text"
                       id="email_{{selectedProject.id}}"
                       [(ngModel)]="selectedProject.email"
                       #selected_project_email="ngModel"
                       maxlength="80"
                       pInputText
                       required
                       pattern="^[\w+\-.]+@[a-z\d\-.]+\.[a-z]+$"
                       placeholder="Project's email">
                <button pButton
                        type="button"
                        icon="fa fa-check"
                        [disabled]="selected_project_email.invalid"
                        (click)="editProject(selectedProject, 'email')">
                </button>
                <button pButton
                        type="button"
                        icon="fa fa-close"
                        (click)="escEditProject()">
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="selected_project_email.invalid && (selected_project_email.dirty || selected_project_email.touched)"
               class="ui-g">
            <div class="ui-g-offset-6 ui-g-6 alert alert-danger">
              <small *ngIf="selected_project_email.errors.required">
                <span>Email is required.</span>
              </small>
              <small *ngIf="selected_project_email.errors.pattern">
                <span>Must be as email.</span>
              </small>
            </div>
          </div>
          <div class="ui-g alert-secondary mb-2">
            <div class="ui-g-12">
              <div class="ui-inputgroup pull-right">
                <label><b>Password &nbsp;</b></label>
                <input type="password"
                       id="email_password_{{selectedProject.id}}"
                       [(ngModel)]="selectedProject.email_password"
                       (click)="selectedProject.email_password = null"
                       maxlength="80"
                       pInputText
                       placeholder="Email's password">
                <button pButton
                        type="button"
                        icon="fa fa-check"
                        (click)="editProject(selectedProject, 'email_password')">
                </button>
                <button pButton
                        type="button"
                        icon="fa fa-close"
                        (click)="escEditProject()">
                </button>
              </div>
            </div>
          </div>

          <br>

          <div class="ui-g alert-secondary mb-1">
            <div class="ui-g-12">
              <div class="ui-inputgroup pull-right">
                <label><b>Gmail &nbsp;</b></label>
                <input type="text"
                       id="gmail_{{selectedProject.id}}"
                       [(ngModel)]="selectedProject.gmail"
                       maxlength="80"
                       pInputText
                       #selected_project_gmail="ngModel"
                       pattern="^[\w+\-.]+@[a-z\d\-.]+\.[a-z]+$"
                       placeholder="Project's gmail">
                <button pButton
                        type="button"
                        icon="fa fa-check"
                        [disabled]="selected_project_gmail.invalid"
                        (click)="editProject(selectedProject, 'gmail')">
                </button>
                <button pButton
                        type="button"
                        icon="fa fa-close"
                        (click)="escEditProject()">
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="selected_project_gmail.invalid && (selected_project_gmail.dirty || selected_project_gmail.touched)"
               class="ui-g">
            <div class="ui-g-offset-6 ui-g-6 alert alert-danger">
              <small *ngIf="selected_project_gmail.errors.pattern">
                <span>Must be as email.</span>
              </small>
            </div>
          </div>
          <div class="ui-g alert-secondary mb-1">
            <div class="ui-g-12">
              <div class="ui-inputgroup pull-right">
                <label><b>Sending Email-Address</b></label>
                <input type="text"
                       id="email_sending_{{selectedProject.id}}"
                       [(ngModel)]="selectedProject.email_sending"
                       maxlength="80"
                       #selected_project_email_sending="ngModel"
                       pattern="^[\w+\-.]+@[a-z\d\-.]+\.[a-z]+$"
                       pInputText
                       pTooltip="This email will be seen as sender's email-address"
                       placeholder="Project's sending email">
                <button pButton
                        type="button"
                        icon="fa fa-check"
                        [disabled]="selected_project_email_sending.invalid"
                        (click)="editProject(selectedProject, 'email_sending')">
                </button>
                <button pButton
                        type="button"
                        icon="fa fa-close"
                        (click)="escEditProject()">
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="selected_project_email_sending.invalid && (selected_project_email_sending.dirty || selected_project_email_sending.touched)"
               class="ui-g">
            <div class="ui-g-offset-6 ui-g-6 alert alert-danger">
              <small *ngIf="selected_project_email_sending.errors.pattern">
                <span>Must be as email.</span>
              </small>
            </div>
          </div>

          <br>
          <div class="ui-g">
            <div class="ui-g-12">
              <div class="ui-inputgroup pull-right">
                <label><b>Token &nbsp;</b></label>
                <input type="text"
                       id="external_token_{{selectedProject.id}}"
                       [(ngModel)]="selectedProject.external_token"
                       maxlength="80"
                       pInputText
                       placeholder="External token">
                <button pButton
                        type="button"
                        icon="fa fa-check"
                        (click)="editProject(selectedProject, 'external_token')">
                </button>
                <button pButton
                        type="button"
                        icon="fa fa-close"
                        (click)="escEditProject()">
                </button>
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>
      <br>
      <div id="TurnoverId_{{selectedProject.id}}" class="alert-secondary mb-1">
        <app-aqis-select-slide label="Turnover"
                               bind-hide_label="true"
                               bind-slider="false"
                               bind-object="selectedProject"
                               field_from="turnover_min"
                               field_to="turnover_max"
                               on-slideChanged="setRange($event)">
        </app-aqis-select-slide>
      </div>
      <div id="EmployeesId_{{selectedProject.id}}" class="alert-secondary">
        <app-aqis-select-slide label="Employees"
                               bind-hide_label="true"
                               bind-slider="false"
                               bind-object="selectedProject"
                               field_from="employees_min"
                               field_to="employees_max"
                               on-slideChanged="setRange($event)">
        </app-aqis-select-slide>
      </div>
      <div *ngIf="!businesses">
        <br>
        <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
      </div>
      <div *ngIf="businesses" id="business_list_{{selectedProject.id}}" class="ui-g">
        <div class="ui-g-12">
          <label><b><u>Business list</u></b></label>
          <app-grouped-multiselect [businesses]="businesses"
                                   [selectedBusinesses]="selectedProject.project_businesses"
                                   (addBusiness)="addBusiness($event, selectedProject)"
                                   (subtractBusiness)="subtractBusiness($event, selectedProject)"
                                   (clearBusinesses)="clearBusinesses(selectedProject)">
          </app-grouped-multiselect>
        </div>
        <div id="st_business_list_{{selectedProject.id}}" class="ui-g-12">
          <label><b><u>Standardized Business list</u></b></label>
          <ng-select
            [items]="standardized_businesses"
            [multiple]="true"
            [closeOnSelect]="false"
            [clearOnBackspace]="false"
            bindLabel="name"
            placeholder="Select Standardized Businesses"
            [(ngModel)]="selectedProject.standardized_businesses"
            (change)="addStBusinesses(selectedProject.standardized_businesses, selectedProject.id)">
          </ng-select>
        </div>
      </div>
    </div>
  </p-dialog>
</section>
