.invoice-tenant-name {
  background-image: linear-gradient(rgba(43, 113, 226, 0.6), white);
}

.new-invoice-type {
  background-color: rgba(191, 215, 255, 0.5);
  border-bottom: #3f51b5 solid 0.1px;
  border-right: #3f51b5 solid 0.1px;
}

.invoice-types-item {
  height: 5rem;
}

.delete-icon {
  color: #babec4 !important;
}

.return-button {
  background-color: rgba(218, 222, 229, 0.1)
}
