.text-field {
  width: 80% !important;
}

.text-field-addon {
  height: 100%;
}

.text-field-link-addon {
  height: 70%;
}

.success-update1 {
  background-image: linear-gradient(to right, #5aef28, #a3fc99);
}

.success-update2 {
  background-color: #a3fc99;
}

.fail-update1 {
  background-image: linear-gradient(to right, #f23535, #ff8282);
}

.fail-update1 {
  background-color: #ff8282;
}
