.tenant-prop-cell {
  background-color: rgba(117, 162, 234, 0.2);
  border-bottom: #17a2b8 solid .2px;
}

.tenant-prop-address-cell {
  background-color: rgba(128, 247, 152, 0.2);
  border-bottom: #a3fc99 solid 0.2px;
}
