<app-alert-closeable *ngIf="alert "
                     on-alertFalse="alert = false"
                     bind-type="alertType"
                     bind-message="alertMessage"
                     [url]="redirect_url"
                     [return_to_url]="return_to_url"
                     [current_user_id]="current_user['id']">
</app-alert-closeable>

<p-overlayPanel [style]="{'width':'20%','margin-top':'20%','margin-left':'5%'}" [showCloseIcon]="true" #selectEmailTemplate>
  <section *ngIf="selectedTemplate">
    <app-aqis-email-template-preview [template]="selectedTemplate"></app-aqis-email-template-preview>
  </section>
</p-overlayPanel>

<p-growl [(value)]="msgs" [baseZIndex]="50"></p-growl>

<p-panel header="Company Management" [toggleable]="true" [collapsed]="true">
  <div class="ui-g">
    <div class="ui-g-8">
      <div class="ui-g">

        <div class="ui-g-12 ui-md-8 send-email">
          <div class="ui-g">
            <div  *ngIf="email_templates && email_templates.length > 0" class="ui-g-12 customers-select-template">
              <p-dropdown [options]="email_templates"
                          [(ngModel)]="selectedTemplate"
                          placeholder="Select a Template"
                          optionLabel="name"
                          (onChange)="selectTemplate($event,selectedTemplate,selectEmailTemplate)"
                          [showClear]="true">
              </p-dropdown>
              <button class="btn btn-sm btn-primary float-right cursor-pointer" (click)="sendEmail()">
                Send Email
              </button>
            </div>
            <div class="ui-g-12 text-center" [ngClass]="{'text-center':!super_admin}">
              <p-dropdown [options]="customers_options_select" [(ngModel)]="selectedOption" (onChange)="selectCustomers()"></p-dropdown>
            </div>
            <div class="ui-g-12 ui-md-4">
              <button type="button"
                      class="btn btn-primary cursor-pointer"
                      [routerLink]="['export_customers']">
                Export to Excel
              </button>
            </div>
            <div *ngIf="!super_admin" class="ui-g-12 ui-md-8">
              <button type="button"
                      class="btn btn-primary cursor-pointer float-right"
                      (click)="loadSteps()">
                Load Steps From Project
              </button>
            </div>
          </div>
        </div>

        <div class="ui-g-12 ui-md-4">
          <div *ngIf="!super_admin && filter_states" class="ui-g">
            <div class="ui-g-12">
              <ng-select
                [items]="filter_states"
                [multiple]="true"
                bindLabel="label"
                groupBy="stated"
                [selectableGroup]="true"
                [closeOnSelect]="false"
                bindValue="value"
                [(ngModel)]="selectedStates"
                (add)="selectState($event)"
                (close)="changeStates()"
                (clear)="changeStates()"
                placeholder="Filter by States">
                <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                  <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.stated | uppercase}}
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                  <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.label}}
                </ng-template>
              </ng-select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui-g-12 ui-md-4">
      <div *ngIf="!super_admin" class="ui-g">
        <div class="ui-g-12">
          <p-multiSelect [options]="filter_roles"
                         [style]="{'width':'100%'}"
                         defaultLabel="Choose active Step's role"
                         [filter]="false"
                         [(ngModel)]="selectedRoles"
                         (onPanelHide)="changeRoles(selectedRoles)">
          </p-multiSelect>
        </div>
      </div>
      <div *ngIf="!super_admin" class="ui-g">
        <div class="ui-g-12 ui-md-10 pr-0">
          <p-autoComplete pTooltip="Select User to which belongs Company"
                          [(ngModel)]="tenant_user"
                          [suggestions]="filteredUsers"
                          (completeMethod)="filterUsers($event)"
                          (onSelect)="changeTenantUsers(tenant_user)"
                          placeholder="Select User"
                          [dropdown]="true">
            <ng-template let-tenant_user pTemplate="item">
              <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                <div style="font-size:18px;float:right;margin:10px 10px 0 0">{{tenant_user}}</div>
              </div>
            </ng-template>
          </p-autoComplete>
          <p-button *ngIf="tenant_user" (click)="clearTenantUsers()" icon="fa fa-close"></p-button>
        </div>
        <div class="ui-g-12 ui-md-2 pl-0">
          <button *ngIf="!super_admin" type="button"
                  class="btn btn-primary btn-sm float-right cursor-pointer"
                  (click)="getMyLeads()">
            My Leads
          </button>
        </div>
      </div>
    </div>
  </div>
</p-panel>

<aside class="progress" *ngIf="!lazyCustomers">
  <div class="progress-bar progress-bar-info progress-bar-striped active"
       role="progressbar" style="width: 100%">
    Loading...
  </div>
</aside>


<p-panel *ngIf="super_admin"  header="Add Companies" [toggleable]="true" [style]="{'margin-bottom':'10px'}" [collapsed]="true">
  <section class="add-customer alert-secondary p-2">
    <form name="add_customer">
      <div class="ui-g">
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g">
            <div class="ui-g-12 ui-md-6">
              <div bind-class="( newIdentifier.invalid && newIdentifier.dirty ) ?
                                           'form-group has-warning' : 'form-group'">
                <label class="sr-only" for="new_identifier"></label>
                <input class="form-control"
                       id="new_identifier"
                       type="text"
                       ref-newIdentifier="ngModel"
                       (blur)="setInputToPristine(newIdentifier)"
                       name="new_identifier"
                       bindon-ngModel="new_identifier"
                       placeholder="New UID-Number"
                       required>
                <aside *ngIf="newIdentifier.invalid && newIdentifier.dirty"
                       class="alert alert-danger">
                  <small>
                    <span *ngIf="newIdentifier['pattern']">This required</span>
                    <span *ngIf="!newIdentifier['pattern']">Must be as UID-Number</span>
                  </small>
                </aside>
              </div>
            </div>
            <div class="ui-g-12 ui-md-6">
              <div bind-class="( newName.invalid && newName.dirty ) ?
                                   'form-group has-warning' : 'form-group'">
                <label class="sr-only" for="new_name">New Name</label>
                <input class="form-control"
                       type="text"
                       id="new_name"
                       ref-newName="ngModel"
                       (blur)="setInputToPristine(newName)"
                       name="new_name"
                       bindon-ngModel="new_name"
                       placeholder="New Name">
                <aside *ngIf="newName.invalid && newName.dirty"
                       class="alert alert-danger">
                  <small>
                    <span *ngIf="newName['pattern']">This required</span>
                    <span *ngIf="!newName['pattern']">Must be as name</span>
                  </small>
                </aside>
              </div>
            </div>
          </div>
          <div class="ui-g">
            <div class="ui-g-12 ui-md-9">
              <div bind-class="( newEmail.invalid && newEmail.dirty ) ?
                                   'form-group has-warning' : 'form-group'">
                <label class="sr-only" for="new_email">New Email</label>
                <input class="form-control"
                       type="text"
                       id="new_email"
                       ref-newEmail="ngModel"
                       name="new_email"
                       (blur)="setInputToPristine(newEmail)"
                       bindon-ngModel="new_email"
                       pattern="^[\w+\-.]+@[a-z\d\-.]+\.[a-z]+$"
                       placeholder="New Email">
                <aside *ngIf="newEmail.invalid && newEmail.dirty && !newEmail['pattern']"
                       class="alert alert-danger">
                  <small>
                    <span *ngIf="newEmail['pattern']">This required</span>
                    <span *ngIf="!newEmail['pattern']">Must be as email</span>
                  </small>
                </aside>
              </div>
            </div>
            <div class="ui-g-12 ui-md-3">
              <button class="btn btn-primary btn-sm pull-right"
                      [disabled]="newEmail.invalid || newName.invalid || newIdentifier.invalid"
                      on-click="addCustomer(new_name, new_email, new_identifier)">
                Add Customer
              </button>
            </div>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div class="ui-g">
            <div class="ui-g-12">
              <input type="file"
                     name="upload_file"
                     class="form-control"
                     (change)="fileChange($event)"
                     [(ngModel)]="upload_file"
                     placeholder="Upload file"
                     accept=".csv,.xlsx,.ods">
            </div>
          </div>
          <hr>
          <div class="ui-g">
            <div class="ui-g-12">
              <div *ngIf="loadCustomersMessage"
                   class="alert alert-info"
                   role="alert">
                {{loadCustomersMessage}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
</p-panel>

<br>

<div class="text-center">
  <p-progressSpinner *ngIf="init" [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration="1.5s"></p-progressSpinner>
</div>

<section #customersList  class="customers-scroll pb-2">
  <p-panel>
    <p-header>
      <div class="ui-g">
        <div class="ui-g-12 ui-md-2 text-left">
          <div class="ui-g">
            <div class="ui-g-12">
              <b>Companies</b>
              <span>
                    <small *ngIf="lazyCustomers">: {{customers_count || 0}}</small>
                </span>
            </div>
            <div class="ui-g-12 ui-md-8 text-right">
              <h6 *ngIf="short_customers_list">Short List</h6>
              <h6 *ngIf="!short_customers_list">Long List</h6>
            </div>
            <div class="ui-g-12 ui-md-4">
              <p-inputSwitch class="float-right"
                             [(ngModel)]="short_customers_list">
              </p-inputSwitch>
            </div>
          </div>
        </div>
        <div class="ui-g-12 ui-md-6 mr-2">
          <form>
            <div class="input-group">
              <label for="keywords" class="sr-only">Keywords></label>
              <input type="text" id="keywords" name="keywords"
                     placeholder="Search by Name, UID-Number or City"
                     bind-ngModel="keywords"
                     ref-model="ngModel"
                     class="form-control input-lg">
              <span class="input-group-btn">
                            <input type="submit" value="Find"
                                   (click)="searchCustomers(model)"
                                   class="btn btn-primary">
              </span>
            </div>
          </form>
        </div>
        <div class="ui-g-12 ui-md-3">
          <div class="ui-g">
            <div class="ui-g-12">
              <label><small><b>Sorted by</b></small></label>
              <p-dropdown styleClass="pr-2 float-right"
                          [options]="sort_properties"
                          [style]="{'width':'70%'}"
                          (onChange)="sortCustomersBy($event)">
              </p-dropdown>
            </div>
          </div>
        </div>
      </div>
    </p-header>

    <ul *ngIf="lazyCustomers && lazyCustomers.length > 0" class="list">
      <cdk-virtual-scroll-viewport  style="height: 800px" itemSize="{{super_admin ? 150 : 200}}" (scrolledIndexChange)="loadCustomersLazy($event)" >
        <ng-container *cdkVirtualFor="let customer of lazyCustomers; let i = index">
          <li class="customers-list-item">
            <section>

              <div class="ui-g"
                   id="customer_row_{{customer['id']}}">
                <div class="ui-g-12 ui-md-1">
                  <p-checkbox name="group1"
                              pTooltip="Check for importing to Excel"
                              tooltipPosition="top"
                              value="{{customer['id']}}"
                              [(ngModel)]="customers_ids"
                              inputId="{{customer['id']}}"
                              (onChange)="selectCustomer(customers_ids)">
                  </p-checkbox>
                </div>
                <div class="ui-g-12 ui-md-9">
                  <h4>
                    <span class="h6">{{customer['zip']}}</span>
                    {{customer['name']}}
                  </h4>
                </div>
                <div class="ui-g-12 ui-md-2">
                  <div class="btn-group-vertical btn-group-sm float-right">
                    <button class="btn btn-primary"
                            (click)="viewDetails(customer, 'newTab')"
                            value="view_details_{{customer['id']}}">
                      <small>View Details...</small>
                    </button>
                    <button class="btn btn-default btn-details-new-tab"
                       (click)="viewDetails(customer)">
                      <small>View Details in new Tab</small>
                    </button>
                    <button class="btn btn-danger"
                            on-click="removeCustomer(i, customer)">
                      <small>Delete</small>
                    </button>
                  </div>
                </div>
              </div>
              <div class="ui-g">
                <div class="ui-g-12 ui-md-10">
                  <div *ngIf="super_admin" [ngClass]="{'empty-car-item-text' : !customer['email']}">{{customer['email']}}</div>
                  <small>
                    <p-selectButton *ngIf="!super_admin && customer['email_addresses'].length > 0"
                                    [options]="customer['email_addresses']"
                                    [(ngModel)]="email_addresses"
                                    ngbTooltip="Select to send email to Company"
                                    optionLabel="email"
                                    multiple="multiple">
                    </p-selectButton>
                  </small>
                </div>
                <div class="ui-g-12 ui-md-2">
                  <div class="ui-g-12 p-0">
                    <small class="float-right" *ngIf="!super_admin && customer['state']">
                      <b>state</b>{{customer['state']}}
                    </small>
                  </div>
                  <div class="ui-g-12 p-0">
                    <small class="float-right"><b>Joined</b> {{customer['created_at'] | date}}</small>
                  </div>
                </div>
              </div>
              <div *ngIf="!super_admin" id="customer_assign_{{customer['id']}}" class="ui-g customers-select-template">
                <div class="ui-g-12 ui-md-1">
                  <label class="sr-only" for="assign_to_me">Assign to me</label>
                  <input type="checkbox"
                         [disabled]="!is_agent"
                         id="assign_to_me"
                         class="form-control float-right"
                         pTooltip="{{is_agent ? 'You can assign customer to yourself' : 'To assign customer to yourself you should have role Agent'}}"
                         [ngClass]="{'cursor-pointer': agent_or_assistant, 'cursor-disabled': !agent_or_assistant}"
                         [(ngModel)]="customer['assigned_as_agent']"
                         (ngModelChange)="assignCustomerToMe(customer, 'assigned_as_agent', 'agent_user')"/>
                </div>
                <div class="ui-g-12 ui-md-5">
                  <p-autoComplete
                    pTooltip="Select sales Agent to which belongs Company"
                    [suggestions]="filteredAgentUsers"
                    [(ngModel)]="customer['agent_user']['email']"
                    (completeMethod)="filterAgentUsers($event)"
                    (onSelect)="assignSelectedCustomer(customer['id'], customer['agent_user']['email'], 'agent')"
                    placeholder="Select sales Agent"
                    [dropdown]="true"
                    [disabled]="!is_admin">
                    <ng-template let-agent_user pTemplate="item">
                      <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                        <div style="font-size:18px;float:right;margin:10px 10px 0 0">{{agent_user}}</div>
                      </div>
                    </ng-template>
                  </p-autoComplete>
                </div>
                <div class="ui-g-12 ui-md-1">
                  <label class="sr-only" for="assign_as_assistant">Assign as assistant</label>
                  <input type="checkbox"
                         id="assign_as_assistant"
                         [disabled]="!is_assistant"
                         class="form-control float-right"
                         pTooltip="{{is_assistant ? 'You can assign customer' : 'To assign customer you should have role Assistant'}}"
                         [ngClass]="{'cursor-pointer': agent_or_assistant, 'cursor-disabled': !agent_or_assistant}"
                         [(ngModel)]="customer['assigned_as_assistant']"
                         (ngModelChange)="assignCustomerToMe(customer, 'assigned_as_assistant', 'assistant_user')"/>
                </div>
                <div class="ui-g-12 ui-md-5">
                  <p-autoComplete
                    pTooltip="Select sales Assistant to which belongs Company"
                    [suggestions]="filteredAssistantUsers"
                    [(ngModel)]="customer['assistant_user']['email']"
                    (completeMethod)="filterAssistantUsers($event)"
                    (onSelect)="assignSelectedCustomer(customer['id'], customer['assistant_user']['email'], 'assistant')"
                    placeholder="Select sales Assistant"
                    [dropdown]="true"
                    [disabled]="!is_admin">
                    <ng-template let-assistant_user pTemplate="item">
                      <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                        <div style="font-size:18px;float:right;margin:10px 10px 0 0">{{assistant_user}}</div>
                      </div>
                    </ng-template>
                  </p-autoComplete>
                </div>
              </div>
            </section>
          </li>
        </ng-container>
      </cdk-virtual-scroll-viewport>
    </ul>
  </p-panel>
</section>
