.customer-row {
  border-bottom: none;
}

.customer-assign {
  position: relative;
  opacity: 1;
}

.customers-list-item {
  border-bottom: solid black 0.2px;
}

.btn-details-new-tab {
  background-color: rgba(132, 177, 249, 0.5);
}

@media only screen
and (max-width : 520px) {
  .btn-details-new-tab {
    display: none;
  }

  .clear-assignment {
    display: none;
  }

  .btn-group-sm-device {
    float: left !important;
  }

  .customer-header {
    font-size: 15px;
  }
}

.clear-assignment {
  border: 0.1px solid lightgray;
}

.btn-actions-group {
  float: right;
}
