<p-growl styleClass="message-growl" [baseZIndex]="50" [(value)]="msgs"></p-growl>

<div *ngIf="pre_customer" class="ui-g">
  <div class="ui-g-4 ui-sm-12">
    <section class="pre-customer">
      <p-card [style]="{width: '360px'}" styleClass="ui-card-shadow">
        <p-header>
          <img src="../../../assets/showcase/images/architecture-buildings-city-533930.jpg" height="25%" width="100%">
          <hr/>
          <h4 class="text-center"><b>{{pre_customer.name}}</b></h4>
          <p class="text-center">UID <b>{{pre_customer.uid}}</b></p>
          <p class="text-center">Project <b>{{project_name}}</b></p>
        </p-header>
        <section class="pre-customer-card">
          <div class="pre_customer-detail text-center">
            {{pre_customer.zip}} - {{pre_customer.city}}, {{pre_customer.address}}
            <br>
            <small>Email: {{pre_customer.email}}</small>
            <br>
            <small>Phone: {{pre_customer.phone}}</small>
          </div>
          <br/>
          <small><b>Contacted Person</b></small>
          <div class="ui-g pre_customer-detail">
            <div class="ui-g-12">
              <label class="float-left">{{pre_customer.person}}</label>
            </div>
            <div class="ui-g-12">
              <small class="float-left">Email: </small><small class="float-right">{{pre_customer.email_1}}</small>
            </div>
            <div class="ui-g-12">
              <small class="float-left">Phone: </small><small class="float-right">{{pre_customer.phone_1}}</small>
            </div>
          </div>
          <br/>
          <small><b>Person II</b></small>
          <div class="ui-g pre_customer-detail">
            <div class="ui-g-12">
              <label class="float-left">{{pre_customer.person_2}}</label>
            </div>
            <div class="ui-g-12">
              <small class="float-left">Email: </small><small class="float-right">{{pre_customer.email_2}}</small>
            </div>
            <div class="ui-g-12">
              <small class="float-left">Phone: </small><small class="float-right">{{pre_customer.phone_2}}</small>
            </div>
          </div>
          <hr/>
          <div class="text-center"><u>Message</u></div>
          <div class="pre_customer-detail pre-customer-card"><p>{{pre_customer.message}}</p></div>
          <hr class="ui-widget-content" style="border-top:0">
          <div class="ui-g">
            <div class="ui-g-12">
              <button pButton type="button"
                      class="float-right"
                      (click)="approve()"
                      iconPos="right"
                      label="Approve"
                      icon="fa fa-check">
              </button>
            </div>
          </div>
        </section>
      </p-card>
    </section>
  </div>
  <div class="ui-g-8 ui-sm-12">
    <section class="pre-customers-customers">
      <p-table [value]="customers"
               [(selection)]="selectedCustomer"
               [columns]="cols"
               dataKey="name"
               styleClass="pre-customers-table">
        <ng-template pTemplate="caption">
          <div class="ui-g">
            <div class="ui-g-12">
              <h4 class="float-left">
                Select Company
              </h4>
              <button pButton class="float-right" label="<< Return to First Contacts List" (click)="returnToList()"></button>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="width: 3em;"></th>
            <th *ngFor="let col of columns" class="text-center">
              {{col.header}}
            </th>
            <th class="text-center" style="width: 10%">Has Tenant</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td>
              <p-tableRadioButton [value]="rowData"></p-tableRadioButton>
            </td>
            <td *ngFor="let col of columns" class="text-center">
              {{rowData[col.field]}}
            </td>
            <td class="text-center">
              <div class="customer-cell">
                <i *ngIf="rowData.project_id" class="fa fa-check-square"></i>
                <i *ngIf="!rowData.project_id" class="fa fa-close"></i>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div style="text-align: left">
            Selected Company: <span *ngIf="selectedCustomer">{{selectedCustomer.name}}</span>
          </div>
        </ng-template>
      </p-table>
    </section>
  </div>
</div>

