<p-growl styleClass="message-growl" [baseZIndex]="50" [(value)]="msgs"></p-growl>

<div *ngIf="pre_customer" class="ui-g">
  <div class="ui-g-4 ui-sm-12">
    <section class="pre-customer">
      <p-card [style]="{width: '360px'}" styleClass="ui-card-shadow">
        <p-header>
          <img src="../../../assets/showcase/images/architecture-buildings-city-533930.jpg" height="25%" width="100%">
          <hr/>
          <h4 class="text-center"><b>{{pre_customer.name}}</b></h4>
          <p class="text-center">UID <b>{{pre_customer.uid}}</b></p>
          <p class="text-center">Project <b>{{project_name}}</b></p>
        </p-header>
        <section class="pre-customer-card">
          <div class="pre_customer-detail text-center">
            {{pre_customer.zip}} - {{pre_customer.city}}, {{pre_customer.address}}
            <br>
            <small>Email: {{pre_customer.email}}</small>
            <br>
            <small>Phone: {{pre_customer.phone}}</small>
          </div>
          <br/>
          <small><b>Contacted Person</b></small>
          <div class="ui-g pre_customer-detail">
            <div class="ui-g-12">
              <label class="float-left">{{pre_customer.person}}</label>
            </div>
            <div class="ui-g-12">
              <small class="float-left">Email: </small><small class="float-right">{{pre_customer.email_1}}</small>
            </div>
            <div class="ui-g-12">
              <small class="float-left">Phone: </small><small class="float-right">{{pre_customer.phone_1}}</small>
            </div>
          </div>
          <br/>
          <small><b>Person II</b></small>
          <div class="ui-g pre_customer-detail">
            <div class="ui-g-12">
              <label class="float-left">{{pre_customer.person_2}}</label>
            </div>
            <div class="ui-g-12">
              <small class="float-left">Email: </small><small class="float-right">{{pre_customer.email_2}}</small>
            </div>
            <div class="ui-g-12">
              <small class="float-left">Phone: </small><small class="float-right">{{pre_customer.phone_2}}</small>
            </div>
          </div>
          <hr/>
          <div class="text-center"><u>Message</u></div>
          <div class="pre_customer-detail pre-customer-card"><p>{{pre_customer.message}}</p></div>
          <hr class="ui-widget-content" style="border-top:0">
          <div class="ui-g">
            <div class="ui-g-12">
              <button pButton type="button"
                      class="float-right"
                      (click)="approve()"
                      iconPos="right"
                      label="Approve"
                      icon="fa fa-check">
              </button>
            </div>
          </div>
        </section>
      </p-card>
    </section>
  </div>
  <div class="ui-g-8 ui-sm-12">
    <section class="pre-customers-customers">
      <p-dataTable [value]="customers" [(selection)]="selectedCustomer" dataKey="name" styleClass="pre-customers-table">
        <p-header>
          <div class="ui-g">
            <div class="ui-g-12">
              <h4 class="float-left">
                Select Customer
              </h4>
              <button pButton class="float-right" label="<< Return to First Contacts List" (click)="returnToList()"></button>
            </div>
          </div>
        </p-header>
        <p-footer><div style="text-align: left">Selected Customer: {{selectedCustomer ? selectedCustomer.name : 'none'}}</div></p-footer>
        <p-column [style]="{'width':'38px'}" selectionMode="single"></p-column>
        <p-column field="name" [style]="{'text-align':'center'}" header="Name"></p-column>
        <p-column field="email" [style]="{'text-align':'center'}" header="Email"></p-column>
        <p-column field="project_id" [style]="{'width':'10%', 'text-align':'center'}" header="Has Tenant">
          <ng-template let-customer="rowData" pTemplate="body">
            <div class="customer-cell">
              <i *ngIf="customer.project_id" class="fa fa-check-square"></i>
              <i *ngIf="!customer.project_id" class="fa fa-close"></i>
            </div>
          </ng-template>
        </p-column>
      </p-dataTable>
    </section>
  </div>
</div>

