<p-growl styleClass="message-growl" [(value)]="msgs"></p-growl>

<p-table [value]="participants"
         [columns]="cols"
         (onEditInit)="initEdit()"
         (onEditComplete)="editParticipant($event)"
         (keydown.escape)="esc()">
  <ng-template pTemplate="header" let-columns>
    <tr class="table-participants-row">
      <th *ngFor="let col of columns" class="table-participants-header text-center">
        {{col.header}}
      </th>
      <th class="table-participants-header width10"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr class="table-participants-row">
      <td *ngFor="let col of columns"
          class="table-participants-cell text-center"
          [pEditableColumn]="rowData" [pEditableColumnField]="col.field">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input type="text" [(ngModel)]="rowData[col.field]">
          </ng-template>
          <ng-template pTemplate="output">{{rowData[col.field]}}</ng-template>
        </p-cellEditor>
      </td>
      <td class="table-participants-cell text-center">
        <button type="button" pButton
                (click)="removeParticipant($event, rowData);"
                icon="fa fa-remove"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
