<p-growl styleClass="message-growl" [baseZIndex]="50" [(value)]="msgs"></p-growl>

<p-dialog [visible]="showBelongedSteps"
          [style]="{'width': '60%'}"
          [closable]="false"
          [modal]="true">
  <p-header>
    Header content here
  </p-header>
  <section class="m-1 belonged-steps">
    <mat-selection-list #customerTenantSteps
                        [(ngModel)]="selectedSteps">
      <div class="ui-g">
        <div class="ui-g-4">
          <b>Step</b>
        </div>
        <div class="ui-g-8">
          <b>Company</b>
        </div>
        <div class="ui-g-12 text-right">
          <button
            mat-raised-button
            class="mat-primary fill text-sm"
            color="select-all"
            (click)="selectAllSteps(customerTenantSteps)">
            Select All
          </button>
          <button
            mat-raised-button
            class="mat-accent fill text-sm"
            color="deselect-all"
            (click)="deselectAllSteps(customerTenantSteps)">
            Deselect All
          </button>
        </div>
      </div>
      <mat-list-option *ngFor="let step of step.c_tenant_steps" [value]="step">
        <div class="ui-g">
          <div class="ui-g-4">
            <h6>{{step.name}}</h6>
          </div>
          <div class="ui-g-8">
            <h5>{{step.customer_name}}</h5>
          </div>
        </div>
      </mat-list-option>
    </mat-selection-list>
  </section>
  <p-footer>
    <button mat-raised-button
            (click)="showBelongedSteps=false"
            color="close-dialog">
      Close
    </button>
  </p-footer>
</p-dialog>

<p-fieldset [toggleable]="true" [collapsed]="true">
  <p-header>
    {{header}}
    <small *ngIf="step  && step.id > 0">
      <button  pButton type="button" class="float-right" styleClass="btn-sm" label="<< Return to Steps" (click)="returnToSteps()"></button>
    </small>
  </p-header>

  <div *ngIf="edit_basic_data" class="ui-g">
    <div class="ui-g-6">
      <app-alert-closeable on-alertFalse="alert = false"
                           bind-type="alertType"
                           bind-message="alertMessage"
                           *ngIf="alert">
      </app-alert-closeable>
    </div>
    <div class="ui-g-6 text-right">
      <mat-card class="result">
        <mat-card-content>
          <h5>Update companies' steps</h5>

          <section class="toggle-update-section">
            <button *ngIf="updateChildren"
                    mat-raised-button
                    class="mr-2"
                    (click)="displayBelongedSteps()"
                    [color]="'show-belong-steps'">
              Show belonged Steps
            </button>
            <p-toggleButton [(ngModel)]="updateChildren"
                            (onChange)="toggleUpdateAll(customerTenantSteps)"
            ></p-toggleButton>
          </section>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <mat-divider></mat-divider>

  <form [formGroup]="createForm" (ngSubmit)="onSubmit(createForm.value)">
    <section style="margin: 10px 0px">

      <div id="step-name-{{step.id}}" class="ui-g">

        <div class="ui-g-12 ui-md-2">
          <u><b>Name *:</b></u>
        </div>
        <div class="ui-g-12 ui-md-6">
          <input pInputText type="text"
                 class="width100"
                 formControlName="name"
                 (blur)="blurRequired('name')"
                 placeholder="Required"/>
        </div>
        <div class="ui-g-12 ui-md-4">
          <p-message severity="error"
                     text="Name is required"
                     *ngIf="!createForm.controls['name'].valid&&createForm.controls['name'].dirty">
          </p-message>
        </div>
      </div>

      <div id="step-goal-{{step.id}}" class="ui-g">
        <div class="ui-g-12 ui-md-2">
          <u><b>Goal :</b></u>
        </div>
        <div class="ui-g-12 ui-md-9">
                    <textarea pInputTextarea
                              class="width100"
                              [autoResize]="true"
                              [rows]="3"
                              (blur)="blur('goal')"
                              formControlName="goal">
                    </textarea>
        </div>
        <div class="ui-g-12 ui-md-1"></div>
      </div>

      <div id="step-description-{{step.id}}" class="ui-g">
        <div class="ui-g-12 ui-md-2">
          <u><b>Description :</b></u>
        </div>
        <div class="ui-g-12 ui-md-9">
                    <textarea pInputTextarea
                              class="width100"
                              [autoResize]="true"
                              [rows]="10"
                              (blur)="blur('description')"
                              formControlName="description">
                    </textarea>
        </div>
        <div class="ui-g-12 ui-md-1"></div>
      </div>

      <div id="step-step_role-{{step.id}}" class="ui-g">
        <div class="ui-g-12 ui-md-2">
          <u><b>Role *:</b></u>
        </div>
        <div class="ui-g-12 ui-md-9">
          <p-dropdown [options]="roles"
                      class="width100"
                      (onChange)="blurRequired('step_role')"
                      formControlName="step_role">
          </p-dropdown>
        </div>
        <div class="ui-g-12 ui-md-1">
          <p-message severity="error" text="Role is required"
                     *ngIf="!createForm.controls['step_role'].valid&&createForm.controls['step_role'].dirty">
          </p-message>
        </div>
      </div>

      <div id="step-time-{{step.id}}" class="ui-g">
        <div class="ui-g-12 ui-md-2">
          <u>
            <b *ngIf="step.step_role === 'Machine'">Interval :</b>
            <b *ngIf="step.step_role === 'Agent' || step.step_role === 'Assistant'">Working Time :</b>
          </u>
        </div>
        <div class="ui-g-12 ui-md-3">
          <input pInputText type="text"
                 class="width100"
                 formControlName="time"
                 (blur)="blur('time')"
                 placeholder="Set interval or working time in days">
        </div>
        <div class="ui-g-12 ui-md-2">
          <h6>{{createForm.get('days_interval').value ? 'Days' : 'Hours'}}</h6>
        </div>
        <div class="ui-g-12 ui-md-2">
          <p-inputSwitch onLabel="Days"
                         offLabel="Hours"
                         (onChange)="changeDaysInt()"
                         formControlName="days_interval">
          </p-inputSwitch>
        </div>
        <div class="ui-g-12 ui-md-3">
          <p-message severity="error" text="Time must be Integer less than 10000"
                     *ngIf="!createForm.controls['time'].valid&&createForm.controls['time'].dirty">
          </p-message>
        </div>
      </div>

      <div id="step-budget-{{step.id}}" class="ui-g">
        <div class="ui-g-12 ui-md-2">
          <u><b>Budget :</b></u>
        </div>
        <div class="ui-g-12 ui-md-9">
          <input pInputText
                 class="width100"
                 type="text"
                 (blur)="blur('budget')"
                 formControlName="budget"
                 pattern="^\d{1,6}$"/>
        </div>
        <div class="ui-g-12 ui-md-1">
          <p-message severity="error" [text]="createForm.controls['budget'].errors['pattern'] ? 'Must be integer less than 1 million' : ''"
                     *ngIf="!createForm.controls['budget'].valid&&createForm.controls['budget'].dirty"></p-message>
        </div>
      </div>

      <div *ngIf="step.id < 1" class="ui-g">
        <div class="ui-g-12 ui-md-11">
          <button pButton class="float-right" type="submit" label="{{submit_button}}" [disabled]="!createForm.valid"></button>
        </div>
        <div class="ui-g-12 ui-md-1"></div>
      </div>
    </section>
  </form>

</p-fieldset>
