.mat-show-belong-steps {
  background-color: #4286f4;
}

.mat-close-dialog {
  background-color: #f49541;
}

.mat-select-all {
  background-color: #42adf4;
}

.mat-deselect-all {
  background-color: #f4df41;
}

.belonged-steps {
  width: 80%;
}
