<p-growl styleClass="message-growl" [baseZIndex]="50" [(value)]="msgs"></p-growl>

<section class="panel panel-default project-question">
  <form #new_values="ngForm" (ngSubmit)="addItem(new_question)">
    <div class="panel-body">
      <div class="ui-g">
        <div class="ui-g-12 ui-md-3">
          <h4>{{header_label || 'Create new Question'}}</h4>
          <hr/>
        </div>
        <div class="ui-g-12 ui-md-6">
          <div bind-class="new_question.invalid && new_question.dirty ?
                                    'form-group has-warning' : 'form-group'">
                        <textarea [rows]="5" [cols]="50"
                                  name="newValue1"
                                  [(ngModel)]="newValue1"
                                  ref-new_question="ngModel"
                                  pInputTextarea
                                  (blur)="setPristine(new_question)"
                                  placeholder="Question's content"
                                  autoResize="autoResize"
                                  required>
                        </textarea>
            <aside *ngIf="new_question.invalid && new_question.dirty"
                   class="alert alert-danger">
              <small>
                <span *ngIf="new_question.invalid">Required</span>
              </small>
            </aside>
          </div>
        </div>
        <div class="ui-g-12 ui-md-3">
          <div *ngIf="q_prop2" bind-class="new_weight.invalid && new_weight.dirty ?
                                                     'form-group has-warning' : 'form-group'">
            <input type="text"
                   name="newValue2"
                   [(ngModel)]="newValue2"
                   ref-new_weight="ngModel"
                   (blur)="setPristine(new_weight)"
                   pattern="^100$|^\d{1,2}$"
                   placeholder="Weight"
                   pInputText>
            <aside *ngIf="new_weight.invalid && new_weight.dirty"
                   class="alert alert-danger">
              <small>
                <span *ngIf="new_weight.invalid">Must be integer between 0 and 100</span>
              </small>
            </aside>
          </div>
          <hr/>
          <p-button label="Create"
                    type="submit"
                    styleClass="float-right"
                    icon="pi pi-check"
                    iconPos="right"
                    [disabled]="new_values.invalid">
          </p-button>
        </div>
      </div>
    </div>
  </form>
</section>

<hr/>

<section #ProjectQuestionList class="project-question-list project-question">

  <div class="ui-widget-header questions-table-header">
    <div class="ui-g">
      <div class="ui-g-12 text-right">
        <p-button *ngIf="return_button"
                  type="button"
                  label="{{return_label}}"
                  icon="pi pi-angle-double-left"
                  iconPos="right"
                  (click)="returnTo()">
        </p-button>
        <p-button *ngIf="generalQuestions"
                  label="Add General Questions"
                  type="button"
                  icon="pi pi-check"
                  iconPos="right"
                  (click)="addGeneralObjects($event)">
        </p-button>
      </div>
    </div>
  </div>

  <p-table #dt [value]="questions" [columns]="cols"
           (onEditInit)="initEdit($event, questions)"
           (onEditComplete)="save($event, 'blur')"
           (onEditCancel)="quitUpdate($event)"
           (keydown.enter)="save($event)"
           (keydown.escape)="esc()"
  >
    <ng-template pTemplate="caption">
      <div style="text-align: right">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input type="text" pInputText size="50" placeholder="Search..."
               (input)="dt.filterGlobal($event.target.value, 'contains')"
               style="width:auto">
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Questions</th>
        <th *ngIf="q_prop2" style="width: 10%">Weight</th>
        <th style="width: 8%"></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-question="rowData">
      <tr>
        <td [pEditableColumn]="rowData" [pEditableColumnField]="q_prop1">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="rowData[q_prop1]">
            </ng-template>
            <ng-template pTemplate="output">
              <div id="contentCell-{{rowData.id}}" class="question-row">
                <div class="ui-g">
                  <div class="ui-g-11"><span>{{rowData[q_prop1]}}</span></div>
                  <div *ngIf="rowData.new_label" class="ui-g-1 text-top-right">
                    <small [@newLabel]="label_state" class="new-label">New</small>
                  </div>
                </div>
              </div>
            </ng-template>
          </p-cellEditor>
        </td>
        <td *ngIf="q_prop2" pEditableColumn>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="rowData[q_prop2]">
            </ng-template>
            <ng-template pTemplate="output">
              <div id="weightCell-{{rowData.id}}" class="question-row">
                {{rowData[q_prop2]}}
              </div>
            </ng-template>
          </p-cellEditor>
        </td>
        <td class="text-center">
          <button type="button" pButton
                  (click)="removeItem($event, rowData);"
                  class="ui-button-danger"
                  icon="fa fa-remove"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</section>
