<p-growl styleClass="message-growl" [baseZIndex]="50" [(value)]="msgs"></p-growl>

<app-aqis-invoice-types-breadcrumb *ngIf="invoice_type" [breadcrumbList]="breadcrumbList"></app-aqis-invoice-types-breadcrumb>

<div class="ui-g" *ngIf="invoice_type">
  <div class="ui-g-6">
    <section class="invoice-details-invoice-type">
      <div class="ui-g">
        <div class="ui-g-3 invoice-details-invoice-name"><small class="float-right">Invoice Type</small></div>
        <div class="ui-g-9 invoice-details-invoice-name">
          <h3>{{invoice_type.name}}</h3>
        </div>
        <div class="ui-g-6 image-sign">
          <div class="ui-g">
            <div class="ui-g-12">
              <input #inputFile type="file" size="60" style="display: none" (change)="onFileSelected($event)">
              <div class="btn-group-vertical">
                <button class="btn btn-info" (click)="onUpload()">
                  <span *ngIf="selectedFile">
                    {{selectedFile.name}}
                    <i class="fa fa-upload"></i>
                  </span>
                  <span *ngIf="!selectedFile">
                    Choose Sign
                    <i class="fa fa-plus"></i>
                  </span>
                </button>
                <button *ngIf="invoice_type.sign_image_url"
                        class="btn btn-danger"
                        (click)="clearSignImage()">
                  Clear <i class="fa fa-minus-circle"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="ui-g-6 image-sign">
          <img *ngIf="invoice_type.sign_image_url && invoice_type.sign_image_content_type === 'image/png'"
               [src]="invoice_type.sign_image_url" class="width100">
        </div>
        <div *ngIf="loadingSign" class="ui-g-12 image-sign">
          <p-progressBar [value]="loadSign"></p-progressBar>
        </div>
      </div>
      <div class="ui-g invoice-details-items-list">
        <div class="ui-g-6">
          <ul class="list-group" [@listAnimation]="invoice_type.users.length">
            <li class="list-group-item text-center invoice-details-list-header">Users</li>
            <li class="list-group-item pb-0 pt-0"
                *ngFor="let user of invoice_type.users; let i = index">
              <div class="ui-g">
                <div class="ui-g-10">
                  {{user.name || user.email}}
                </div>
                <div class="ui-g-2">
                  <i class="fa fa-minus cursor-pointer"
                     ngbTooltip="Remove User From Invoice Type"
                     (click)="removeUser(user, i)"></i>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="ui-g-6">
          <ul class="list-group" [@listAnimation]="invoice_type.projects.length">
            <li class="list-group-item text-center invoice-details-list-header">Projects</li>
            <li class="list-group-item pb-0 pt-0"
                *ngFor="let project of invoice_type.projects; let i = index">
              <div class="ui-g">
                <div class="ui-g-10">
                  {{project.name}}
                </div>
                <div class="ui-g-2">
                  <i class="fa fa-minus cursor-pointer"
                     ngbTooltip="Remove Project from Invoice Type"
                     (click)="removeProject(project, i)"></i>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
  <div class="ui-g-6">
    <section class="invoice-details-tenant">
      <div class="ui-g">
        <div class="ui-g-3 invoice-details-tenant-name"><small class="float-right">Tenant</small></div>
        <div class="ui-g-9 invoice-details-tenant-name">
          <h3>{{invoice_type.tenant.name}}</h3>
        </div>
      </div>
      <div class="ui-g invoice-details-items-list">
        <div class="ui-g-6">
          <ul class="list-group" [@listAnimation]="users.length">
            <li class="list-group-item text-center invoice-details-list-header">Users</li>
            <li class="list-group-item pb-0 pt-0"
                *ngFor="let user of users; let i = index">
              <div class="ui-g">
                <div class="ui-g-10">
                  {{user.name || user.email}}
                </div>
                <div class="ui-g-2">
                  <i class="fa fa-plus cursor-pointer"
                     (click)="addUser(user, i)"
                     ngbTooltip="Add User to Invoice Type"></i>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="ui-g-6">
          <ul class="list-group" [@listAnimation]="projects.length">
            <li class="list-group-item text-center invoice-details-list-header">Projects</li>
            <li class="list-group-item pb-0 pt-0"
                *ngFor="let project of projects; let i = index">
              <div class="ui-g">
                <div class="ui-g-10">
                  {{project.name}}
                </div>
                <div class="ui-g-2">
                  <i class="fa fa-plus cursor-pointer"
                     (click)="addProject(project, i)"
                     ngbTooltip="Add Project to Invoice Type"></i>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>
