.invoice-details-invoice-type {
  border-top: #99ed45 solid 0.2px;
  border-bottom: #99ed45 solid 0.2px;
}

.invoice-details-tenant {
  border-top: #99ed45 solid 0.2px;
  border-bottom: #99ed45 solid 0.2px;
}

.invoice-details-invoice-type {
  background-image: linear-gradient(rgb(222, 233, 252), white);
}

.invoice-details-tenant-name {
  background-image: linear-gradient(rgb(197, 204,216), white);
}

.invoice-details-items-list {
  background-color: #f4f4f4;
}

.invoice-details-list-header {
  background-image: linear-gradient(rgba(148, 252, 187, 0.6), rgba(205, 242, 219, 0.3));
}

.image-sign {
  background-image: linear-gradient(rgba(247, 223, 116, 0.5), rgba(255, 245, 204, 0.5));
  border-bottom: #94c46d solid 0.1px;
}

.image-emblem {
  background-image: linear-gradient(rgba(244, 171, 119, 0.5), rgba(249, 225, 207, 0.5));
}

.invoice-type-edit {
  background-image: linear-gradient(rgba(72, 214, 209, 0.5), rgba(198, 244, 243, 0.5));
}
