.invoice-details-invoice-type {
  border-top: #99ed45 solid 0.2px;
  border-bottom: #99ed45 solid 0.2px;
}

.invoice-details-tenant {
  border-top: #99ed45 solid 0.2px;
  border-bottom: #99ed45 solid 0.2px;
}

.invoice-details-invoice-type {
  background-image: linear-gradient(rgb(222, 233, 252), white);
}

.invoice-details-tenant-name {
  background-image: linear-gradient(rgb(197, 204,216), white);
}

.invoice-details-items-list {
  background-color: #f4f4f4;
}

.invoice-details-list-header {
  background-image: linear-gradient(rgba(148, 252, 187, 0.6), rgba(205, 242, 219, 0.3));
}

.image-sign {
  background-image: linear-gradient(rgba(21, 106, 242, 0.3), rgba(193, 212, 242, 0.3));
  border-bottom: #94c46d solid 0.1px;
}

.sign_progress {
  background-color: rgba(193, 212,242,0.3);
  border-bottom: #94c46d solid 0.1px;
}
